
@import "layout/rem.scss";
@import "layout/media.scss";
@import "layout/font.scss";
@import "layout/variables.scss";
@import "layout/normalize.scss";
@import "layout/base.scss";
@import "layout/svg.scss";
// @import "blocks/*.scss";
@import "blocks/header.scss";
@import "blocks/hamburger.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";
@import "blocks/best.scss";
@import "blocks/burgers.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/reviews.scss";
@import "blocks/how-work.scss";
@import "blocks/player.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/contacts.scss";
@import "blocks/network.scss";
@import "blocks/menu-fix.scss";
@import "blocks/first.scss";
@import "blocks/overlay.scss";
@import "blocks/popup.scss";