$white: #fff;
$black: #000;
$red: #e45028;
$reddark: #c1401e;
$yellow: #f9b43b;

@import "layout/font.scss";
@import "layout/normalize.scss";
@import "layout/base.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";