html,body{
  height: 100%;
}
p{
  margin: 0;
}
body{
  margin: 0px;
}

.wrapper{
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__container{
  flex: 1;
}

.container{
  margin: 0 auto;
  width: 1160px;
}

ul{
  margin:0;
  padding: 0;
}
ul li{
  list-style: none;
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: normal;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  box-sizing: border-box;
}