.form{
  background: #f5f5f5;
  font-family: 'Open Sans';
  color: #221f1f;
  padding: 52px 129px 52px 96px;
  display: flex;
  flex-direction: column;

}
.form__title{
  font-size: 49px;
  margin-bottom: 29px;
  font-weight: bolder;
  line-height: 0.68;
}
.form__row{
  display: flex;
  margin-bottom: 19px;
}
.form__row:last-child{
  margin-bottom: 0;
}
.reviews-text{
  margin-bottom: 13px;
}
.form__block{
  flex: 1;
  margin-left: 65px;
}
.form__block:first-child{
  margin-left: 0;
}
.form__input{
  width: 118%;
  background: #fff;
  border-radius: 3px;
  padding: 12px 9px;
  border: 1px solid transparent;
  outline: none;
}
.form__input::placeholder{
  color: rgba(34, 31, 31, 0.5);
}
.form__input:focus{
  border-color: #f89513;
}
.form__block-title{
  font-size: 14px;
  margin-bottom: 7px;

}
.form__input--textarea{
  height: 90px;
  resize: vertical;
  width: 107%;
  border: 1px solid transparent;
  outline: none;
}
.form__input--textarea:focus{
  border-color: #f89513;
 }
.form__question-title{
  margin-bottom: 7px;
}
.form__buttons{
  margin-left: auto;
 
}
.form__question-choose{
  display: flex;
}
.choose__answer{
  color: #221f1f;
  position: relative;
  display: flex;
}
label:last-child .choose__answer{
  margin-left: 28%;
}
.choose__radio:checked ~ .choose__answer {
  color: #f89513;
}
.choose__radio{
  display: none;
}
.choose__answer::before{
  content: "";
  flex-shrink: 0;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  
}
.choose__answer::after{
  content: "";
  position: absolute;
  display: none;
  left: 15%;
  top: 32%;
  width: 9px;
  height: 9px;
  background-color: #f89513;
  border-radius: 50%;
  
}
.choose__radio:checked ~ .choose__answer::before {
  border-color: #f89513;
}
.choose__radio:checked ~ .choose__answer::after{
  display: block;
}
.form__buttomline{
  width: 107%;
}

.form__buttons button{
  background: #131415;
  color: white;
  border-radius: 4px;
  width: 123px;
  height: 48px;
  font-size: 12px;
  font-weight: bold;
  transition: .3s;
}
.form__buttons button:hover{
  background: #f89513;
}
