.logo-icon {
  width: rem(92px);
  height: rem(69px);
}

.arrow-scroll-icon {
  width: rem(29px);
  height: rem(14px);
  transition: .3s;
}

.meat-icon {
  width: rem(97px);
  height: rem(89px);
}

.heand-icon {
  width: rem(73px);
  height: rem(85px);
}

.natural-icon {
  width: rem(88px);
  height: rem(75px);
}

.map-marker-icon {
  position: absolute;
  width: rem(46px);
  height: rem(57px);

  &--bol {
    top: rem(175px);
    left: rem(524px);
  }

  &--nev {
    top: rem(280px);
    left: rem(660px);
  }

  &--cudr {
    top: rem(398px);
    left: rem(878px);
  }

  &--mosk {
    top: rem(500px);
    left: rem(529px);
  }
}

.phone-icon {
  width: rem(12px);
  height: rem(11px);
  margin-right: rem(3px);
}

.netw-icon {
  width: rem(20px);
  height: rem(20px);
  opacity: .4;
  transition: .5s;
  &--vk {
    width: rem(23px);
    height: rem(13px);
  }

  &--tw {
    width: rem(20px);
    height: rem(16px);
  }

  &:hover {
    opacity: 1;
  }
}