$white: #fff;
$black: #000;
$red: #e45028;
$reddark: #c1401e;
$yellow: #f9b43b;
$gray: #4a5155;
$graydark: #2f3234;
$orange: #eb8c38;
$grayblack: #2f3234;


$style: normal;

$z-order: 1;
$z-order-bg-mask:-1;
$z-burgers__arrow: 20;
$z-menu__item--active: 7;
$z-first: 30;
$z-index-popup: 100000;