.btn__ref {
  padding: rem(9px) rem(15px);
  border-radius: rem(5px);
  @include ubuntu(medium);
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: rem(13px);
  text-align: center;
  display: flex;
  @include phones {
    padding: rem(9px) rem(13px);
    font-size: rem(13px);
  }
}



.btn {
  display: flex;
  align-items: center;
  & .btn__ref {
    transition: .4s;
    
    // &:hover {
    //   background-color: $reddark;
    // }
  }
}