.burgers {
  background-image: linear-gradient(to top, $yellow, $orange 40%, $yellow);
}

.burgers__list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  
/*   will-change: right;
  transition: right .3s; */
  @include tablets {
    height: 90vh;
  }
  @include phones {
    height: 90vh;
  }
    
}

.burgers__item {
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 96%;
  height: 100%;
  position: absolute;
  transition: all ease .6s;
  left: 0;
  top: 0;



  @include tablets {
    flex-direction: column;
    justify-content: center;
    // padding-top: 10%;
    
  }
  @include phones {
    flex-direction: column;
    justify-content: center;
  }
  
}
.burgers__container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  width: 100%;
  @include tablets {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  @include phones {
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
}


.burgers__arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
 
  &--back {
    left: 3%;
    z-index: $z-burgers__arrow;
    top: 48%;
    @include tablets {
      left: 6%;
    }
    &:hover {
      top: 46%;
      .arrow-icon {
        width: rem(45px);
        height: rem(45px);
      }
    }
  }
  &--next {
    right: 1%;
    top: 48%;
    &:hover {
      right: -1%;
      top: 46%;
      
   
      @include phones {
        right: -3%;
      }
      .arrow-icon {
        
        width: rem(45px);
        height: rem(45px);
      }
  }
    

  }
  
}

.burger__scroll-back {
  display: flex;
}

.burger-composition {
  background-color: $orange;
  padding: 10% 25%;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
    height: 100%;
    @include tablets {
      padding: 5% 15%;
    }
  
}

.burgers__composition {
  position: absolute;
  // width: rem(90px);
  // height: rem(90px);
  
  top: 16vh;
  left: 3vw;
  display: flex;
  flex-direction: row;
  z-index: $z-burgers__arrow;
  
  
  @include tablets {
    top: 0;
    left: 8vw;
  }
  @include phones {
    top: 2vh;
    left: 4vw;
  }
 
  & .burgers__icon-burger {
    width: rem(90px);
    height: rem(90px);
    @include tablets {
      width: rem(80px);
      height: rem(80px);
    }
    
    &:hover {
      
       .burger-composition {
        background-color: $red;
        
      }
     
      & ~.composition {
        width: 25vw;
        height: 100%;
         opacity: 1;
       
         @include tablets {
          width: 50vw;
         }
         @include phones {
           width: 62vw;
          flex-direction: row;
          justify-content: space-between;;
          & .composition__list {
            width: 80%;
          }
          & .ref-close {
          display: flex;
          align-items: flex-start;
        }
        
      }
    }
  }


  & .burger-icon-title {
    @include gagalin();
    font-size: rem(14px);
    line-height: 2;
    text-transform: uppercase;
    color: $white;
  }
}
}

.burgers__icon-kkal {
  position: absolute;
  top: 70vh;
  left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .6;
  z-index: $z-burgers__arrow;
  
  & .kkal-icon-title {
    @include gagalin();
    font-size: rem(14px);
    line-height: 2;
    text-transform: uppercase;
    color: $white;
  }
  & .kkal-count {
    @include gagalin();
    font-size: rem(20px);
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    left: 21%;
    top: 30%;
  }
  @include tablets {
    top: 0vh;
    left: 80%;
  }
  @include phones {
    top: 2vh;
    left: 80%;
  }
}

.composition {
  transition: opacity .7s, width .4s, height .8s;
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  background-color: rgba($color: $white, $alpha: .9);
  border-radius: 3%;
  width: 0;
  height: 0;
  // width: 75vw;
  z-index: $z-burgers__arrow;
  padding: 6%;
 
  & .ref-close {
    display: none;
    
  }
  
}
 

.composition__list {
  display: flex;
  flex-direction: column;
}
.composition__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3%;
  &:last-child {
    margin-bottom: 0;
  }
  & .composition__name, .grams {
    @include ubuntu(medium);
    font-size: rem(14px);
    line-height: 1.71;
    color: $grayblack;
  }
  @include tablets {
    margin-bottom: 0;
  }
}

.composition-icon {
  margin-right: 12%;
  width: rem(48px);
  height: rem(39px);
  justify-content: center;
    align-items: center;
  display: flex;
}

.composition__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.burgers__photo {
  // width: 50%;
  // float: left;
  // margin-right: 5%;

  // display: flex;
  width: 65%;
  // height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: flex;
    // margin-right: 3%;
    @include tablets {
      width: 80%;
      margin-bottom: 1vh;
      max-height: 72%;
    }
    @include phones {
      width: 96%;
      margin-bottom: 1vh;
      // max-height: 50vh;
    }
  
}

.burger-photo {
  display: inline-block;
  position: relative;
 
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  @include tablets {
    max-width: 90%;
    max-height: 95%;
  }
}

.burgers__price {
  width: 40%;
  @include tablets {
    text-align: center;
    width: 90%;
  }
  @include phones {
    // max-height: 40vh;
    width: 90%;
    text-align: center;
  }
}

.burgers__title {
  font-size: rem(53px);
  margin-bottom: 5%;
  width: 80%;
  @include tablets {
    font-size: rem(55px);
    margin: 0 auto;
  }
  @include phones {
    // font-size: rem(38px);
    font-size: 10vw;
    margin: 0 auto;
    margin-bottom: 8%;
  }
}

.burgers__desc {
  @include ubuntu(light);
  font-size: rem(14px);
  line-height: 1.71;
  color: $white;
  margin-bottom: 5%;
  width: 95%;
  @include tablets {
    margin: 0 auto;
    margin-bottom: 2%;
  }
}

.burgers__order {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include tablets {
    justify-content: center;
  }
}

.price {
  @include gagalin();
  font-size: rem(60px);
  line-height: 0.93;
  letter-spacing: -0.75px;
  color: $red;
  margin-right: 5%;
  & span {
    font-size: rem(25px);
  }
  @include tablets {
    font-size: rem(55px);
    & span {
      font-size: rem(20px);
    }
  }
  @include phones {
    font-size: rem(50px);
    & span {
      font-size: rem(15px);
    }
  }
}

.burgers__order {
  & .btn__ref {
      background-color: $red;
      &:hover {
        background-color: $reddark;
      }
  }
}

.burgers__button {
    position: relative;
    top: rem(15px);
    @include tablets {
      top: rem(5px);
      // left: 60%;
    }
    @include phones {
      top: 18%;
      // left: 6%;
    }
}