
.network {
 display: flex;
 justify-content: flex-end;
  width: 50%;
  @include phones {
      justify-content: center;
      align-items: center;
    
  }

  &__ref {
    align-items: center;
  }

  &__list{
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }
}