.order {
  height: 100vh;
  min-height: 100%;
  background-image: url('../img/bg/order.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  z-index: -2;

  &::before {
    content: "";
    background-image: url('../img/bg/order-mask.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

  }
}
.order__title {
  margin-bottom: rem(44px);

}
.order__form {
  width: 80%;
}