.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: $gray, $alpha: .9);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.overlay__container {
  position: relative;
  display: flex;
  width: 25%;
  background: $white;
  border-radius: rem(6px);
  padding: 2%;
  color: $grayblack;
  align-items: center;
  flex-direction: column;

  @include tablets {
    width: 40%;
  }
  @include phones {
    width: 40%;
  }
}

.overlay__content {
  text-align: center;
  margin: 0;
  margin-bottom: 8%;
  font-size: rem(14px);
  @include ubuntu(normal);
}

.overlay__close {
  background: $red;
  border-radius: 6%;
  &:hover{
    background: $reddark;
  }
}
