.promo {
  background-image: url('../../img/bg/promo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.promo__container {
  height: 100%;
  display: flex;

}

.promo__content {
  display: flex;
  align-items: center;
}

.promo__title {
  padding-left: 14px;
}

.promo__subtitle {
  @include lifehack;
  margin-top: 20px;
  font-size: 65px;
  color: $white;
  line-height: 1;
}