.team {
  height: 100vh;
  min-height: 650px;
  background-image: url('../img/bg/team.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.team__container {
  background-color: #2f3234;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  left: 50%;
}

.team__content {
  display: flex;
  flex-direction: column;;
  padding-top: 113px;
  padding-left: 97px;
  padding-right: 98px;
}


.team__title {
  margin-bottom: 46px;
  }

  
.team__list {
  display:flex;
  flex-direction: column;
}