.team {
  height: 100vh;
  min-height: 650px;
  background-image: url('../img/bg/team.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.team__container {
  background-color:rgba($color: $gray, $alpha: .9);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  left: 50%;
}

.team__content {
  display: flex;
  flex-direction: column;;
  padding-top: 113px;
  padding-left: 97px;
  padding-right: 98px;
}


.team__title {
  margin-bottom: 46px;
  }

  
.team__list {
  display:flex;
  flex-direction: column;
}

.team__item {
  margin-bottom: 25px;

  &--active {
    & .team__desc {
        height: 100%;
    }
    & .team__name {
      color: $yellow;
      &::before {
        border: 8px solid transparent;
        border-bottom-color: $yellow;
        border-top: 0;
      }
  }
  }
}

.team__name {
  @include gagalin();
  line-height: 2;
  text-align: left;
  font-size: 14px;
  color: $white;
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
  &::before {
    content: ' ';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: $yellow;
    border-bottom: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
  }


 /* &::before {
    display: block;
    content: ' ';
    background-image: url('../img/icons/down.svg');
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
  }*/
  

 /* &::before {
   content: ' ';
   width: 0;
   height: 0;
   border: 40px solid transparent;
   border-bottom-color: $yellow;
  border-top: 0;
  }*/

}

.team__desc {
  display: flex;
  justify-content: flex-start;
  height: 0;
  overflow: hidden;
  
}

.team__photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 21px;
    flex-shrink: 0;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.team__info {
  @include ubuntu(bold);
  color: $white;
  line-height: 1.71;
  font-size: 14px;

  & div {
    margin-bottom: 10px;
  }

  & p {
    @include ubuntu(light);
  }
}